<h2>Regression Models with Keras</h2>

<h3>Objective for this Notebook<h3>    
<h5> 1. How to use the Keras library to build a regression model.</h5>
<h5> 2. Download and Clean dataset </h5>
<h5> 3. Build a Neural Network </h5>
<h5> 4. Train and Test the Network. </h5>

<a id="item31"></a>

## Download and Clean Dataset

Let's start by importing the <em>pandas</em> and the Numpy libraries.

In [ ]:
#!pip install numpy==1.21.4
#!pip install pandas==1.3.4
#!pip install keras==2.1.6

In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.simplefilter('ignore', FutureWarning)

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's download the data and read it into a <em>pandas</em> dataframe.

In [4]:
#concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data = pd.read_csv('datasets/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

#### Let's check how many data points we have.

In [5]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [6]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [7]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [8]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

<a id="item2"></a>

Let's do a quick sanity check of the predictors and the target dataframes.

In [9]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [10]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation.

In [11]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

Let's save the number of predictors to *n_cols* since we will need this number when building our network.

In [12]:
n_cols = predictors_norm.shape[1] # number of predictors

<a id="item1"></a>

<a id='item32'></a>

## Import Keras

#### Let's go ahead and import the Keras library

In [13]:
import keras

As you can see, the TensorFlow backend was used to install the Keras library.

Let's import the rest of the packages from the Keras library that we will need to build our regressoin model.

In [14]:
from keras.models import Sequential
from keras.layers import Dense

<a id='item33'></a>

## Build a Neural Network

Let's define a function that defines our regression model for us so that we can conveniently call it to create our model.

In [15]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(50, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function create a model that has two hidden layers, each of 50 hidden units.

<a id="item4"></a>

<a id='item34'></a>

## Train and Test the Network

Let's call the function now to create our model.

In [16]:
# build the model
model = regression_model()

Next, we will train and test the model at the same time using the *fit* method. We will leave out 30% of the data for validation and we will train the model for 100 epochs.

In [17]:
# fit the model
model.fit(predictors_norm, target, validation_split=0.3, epochs=100, verbose=2)

Epoch 1/100
23/23 - 1s - loss: 1647.8011 - val_loss: 1130.0952 - 664ms/epoch - 29ms/step
Epoch 2/100
23/23 - 0s - loss: 1504.9033 - val_loss: 983.7581 - 53ms/epoch - 2ms/step
Epoch 3/100
23/23 - 0s - loss: 1264.9005 - val_loss: 762.3156 - 66ms/epoch - 3ms/step
Epoch 4/100
23/23 - 0s - loss: 908.4196 - val_loss: 492.1479 - 52ms/epoch - 2ms/step
Epoch 5/100
23/23 - 0s - loss: 530.7608 - val_loss: 272.4103 - 54ms/epoch - 2ms/step
Epoch 6/100
23/23 - 0s - loss: 296.1822 - val_loss: 186.4172 - 66ms/epoch - 3ms/step
Epoch 7/100
23/23 - 0s - loss: 236.8516 - val_loss: 172.6720 - 55ms/epoch - 2ms/step
Epoch 8/100
23/23 - 0s - loss: 221.5004 - val_loss: 168.9212 - 50ms/epoch - 2ms/step
Epoch 9/100
23/23 - 0s - loss: 210.7216 - val_loss: 166.9194 - 57ms/epoch - 2ms/step
Epoch 10/100
23/23 - 0s - loss: 201.0903 - val_loss: 165.6825 - 64ms/epoch - 3ms/step
Epoch 11/100
23/23 - 0s - loss: 193.6196 - val_loss: 164.1588 - 51ms/epoch - 2ms/step
Epoch 12/100
23/23 - 0s - loss: 188.4177 - val_loss: 161.1953 - 60ms/epoch - 3ms/step
Epoch 13/100
23/23 - 0s - loss: 182.5489 - val_loss: 160.2187 - 82ms/epoch - 4ms/step
Epoch 14/100
23/23 - 0s - loss: 177.6460 - val_loss: 159.8808 - 53ms/epoch - 2ms/step
Epoch 15/100
23/23 - 0s - loss: 173.1188 - val_loss: 158.3619 - 50ms/epoch - 2ms/step
Epoch 16/100
23/23 - 0s - loss: 169.0108 - val_loss: 156.4823 - 37ms/epoch - 2ms/step
Epoch 17/100
23/23 - 0s - loss: 165.6158 - val_loss: 156.0658 - 63ms/epoch - 3ms/step
Epoch 18/100
23/23 - 0s - loss: 162.7920 - val_loss: 152.9155 - 52ms/epoch - 2ms/step
Epoch 19/100
23/23 - 0s - loss: 160.4532 - val_loss: 154.2767 - 48ms/epoch - 2ms/step
Epoch 20/100
23/23 - 0s - loss: 156.9544 - val_loss: 152.0323 - 32ms/epoch - 1ms/step
Epoch 21/100
23/23 - 0s - loss: 154.3031 - val_loss: 153.2906 - 49ms/epoch - 2ms/step
Epoch 22/100
23/23 - 0s - loss: 152.3524 - val_loss: 152.0602 - 51ms/epoch - 2ms/step
Epoch 23/100
23/23 - 0s - loss: 149.9522 - val_loss: 151.5678 - 49ms/epoch - 2ms/step
Epoch 24/100
23/23 - 0s - loss: 148.3830 - val_loss: 149.8735 - 48ms/epoch - 2ms/step
Epoch 25/100
23/23 - 0s - loss: 146.2393 - val_loss: 150.4382 - 36ms/epoch - 2ms/step
Epoch 26/100
23/23 - 0s - loss: 145.8760 - val_loss: 149.6324 - 37ms/epoch - 2ms/step
Epoch 27/100
23/23 - 0s - loss: 143.1807 - val_loss: 148.4578 - 50ms/epoch - 2ms/step
Epoch 28/100
23/23 - 0s - loss: 141.8040 - val_loss: 149.3881 - 50ms/epoch - 2ms/step
Epoch 29/100
23/23 - 0s - loss: 140.5583 - val_loss: 149.8720 - 47ms/epoch - 2ms/step
Epoch 30/100
23/23 - 0s - loss: 138.8559 - val_loss: 150.9851 - 56ms/epoch - 2ms/step
Epoch 31/100
23/23 - 0s - loss: 137.4991 - val_loss: 150.2006 - 47ms/epoch - 2ms/step
Epoch 32/100
23/23 - 0s - loss: 136.5830 - val_loss: 148.5904 - 46ms/epoch - 2ms/step
Epoch 33/100
23/23 - 0s - loss: 135.8681 - val_loss: 149.9682 - 46ms/epoch - 2ms/step
Epoch 34/100
23/23 - 0s - loss: 134.9212 - val_loss: 151.9408 - 42ms/epoch - 2ms/step
Epoch 35/100
23/23 - 0s - loss: 133.4307 - val_loss: 150.6890 - 49ms/epoch - 2ms/step
Epoch 36/100
23/23 - 0s - loss: 132.3761 - val_loss: 152.7642 - 47ms/epoch - 2ms/step
Epoch 37/100
23/23 - 0s - loss: 131.4964 - val_loss: 151.6078 - 50ms/epoch - 2ms/step
Epoch 38/100
23/23 - 0s - loss: 130.7771 - val_loss: 152.5428 - 35ms/epoch - 2ms/step
Epoch 39/100
23/23 - 0s - loss: 129.4693 - val_loss: 150.3626 - 51ms/epoch - 2ms/step
Epoch 40/100
23/23 - 0s - loss: 129.2988 - val_loss: 153.4113 - 50ms/epoch - 2ms/step
Epoch 41/100
23/23 - 0s - loss: 127.7094 - val_loss: 152.1156 - 67ms/epoch - 3ms/step
Epoch 42/100
23/23 - 0s - loss: 126.7848 - val_loss: 152.7382 - 54ms/epoch - 2ms/step
Epoch 43/100
23/23 - 0s - loss: 126.0308 - val_loss: 151.1652 - 47ms/epoch - 2ms/step
Epoch 44/100
23/23 - 0s - loss: 125.0000 - val_loss: 157.2231 - 47ms/epoch - 2ms/step
Epoch 45/100
23/23 - 0s - loss: 124.7888 - val_loss: 152.8379 - 47ms/epoch - 2ms/step
Epoch 46/100
23/23 - 0s - loss: 123.5549 - val_loss: 153.5629 - 56ms/epoch - 2ms/step
Epoch 47/100
23/23 - 0s - loss: 122.4762 - val_loss: 153.4033 - 50ms/epoch - 2ms/step
Epoch 48/100
23/23 - 0s - loss: 121.5980 - val_loss: 153.7182 - 44ms/epoch - 2ms/step
Epoch 49/100
23/23 - 0s - loss: 121.2771 - val_loss: 155.7271 - 48ms/epoch - 2ms/step
Epoch 50/100
23/23 - 0s - loss: 120.6991 - val_loss: 151.9478 - 50ms/epoch - 2ms/step
Epoch 51/100
23/23 - 0s - loss: 118.7324 - val_loss: 158.5573 - 64ms/epoch - 3ms/step
Epoch 52/100
23/23 - 0s - loss: 117.8801 - val_loss: 155.0706 - 61ms/epoch - 3ms/step
Epoch 53/100
23/23 - 0s - loss: 116.7231 - val_loss: 153.2657 - 41ms/epoch - 2ms/step
Epoch 54/100
23/23 - 0s - loss: 116.5015 - val_loss: 153.3707 - 49ms/epoch - 2ms/step
Epoch 55/100
23/23 - 0s - loss: 114.7317 - val_loss: 155.5723 - 48ms/epoch - 2ms/step
Epoch 56/100
23/23 - 0s - loss: 113.5563 - val_loss: 151.4355 - 50ms/epoch - 2ms/step
Epoch 57/100
23/23 - 0s - loss: 112.1910 - val_loss: 155.2579 - 35ms/epoch - 2ms/step
Epoch 58/100
23/23 - 0s - loss: 110.6085 - val_loss: 155.0455 - 49ms/epoch - 2ms/step
Epoch 59/100
23/23 - 0s - loss: 109.2299 - val_loss: 157.1165 - 50ms/epoch - 2ms/step
Epoch 60/100
23/23 - 0s - loss: 107.4957 - val_loss: 155.6869 - 48ms/epoch - 2ms/step
Epoch 61/100
23/23 - 0s - loss: 105.8071 - val_loss: 153.0192 - 46ms/epoch - 2ms/step
Epoch 62/100
23/23 - 0s - loss: 103.8926 - val_loss: 152.7328 - 45ms/epoch - 2ms/step
Epoch 63/100
23/23 - 0s - loss: 102.3829 - val_loss: 152.2678 - 48ms/epoch - 2ms/step
Epoch 64/100
23/23 - 0s - loss: 100.1518 - val_loss: 155.2141 - 43ms/epoch - 2ms/step
Epoch 65/100
23/23 - 0s - loss: 97.8025 - val_loss: 152.8022 - 50ms/epoch - 2ms/step
Epoch 66/100
23/23 - 0s - loss: 95.4101 - val_loss: 149.5039 - 47ms/epoch - 2ms/step
Epoch 67/100
23/23 - 0s - loss: 93.3516 - val_loss: 152.8155 - 37ms/epoch - 2ms/step
Epoch 68/100
23/23 - 0s - loss: 89.8063 - val_loss: 145.5876 - 50ms/epoch - 2ms/step
Epoch 69/100
23/23 - 0s - loss: 87.1820 - val_loss: 153.4234 - 47ms/epoch - 2ms/step
Epoch 70/100
23/23 - 0s - loss: 83.8402 - val_loss: 145.1474 - 55ms/epoch - 2ms/step
Epoch 71/100
23/23 - 0s - loss: 80.4159 - val_loss: 146.8959 - 51ms/epoch - 2ms/step
Epoch 72/100
23/23 - 0s - loss: 77.7382 - val_loss: 142.8543 - 45ms/epoch - 2ms/step
Epoch 73/100
23/23 - 0s - loss: 74.8379 - val_loss: 142.2084 - 36ms/epoch - 2ms/step
Epoch 74/100
23/23 - 0s - loss: 72.4986 - val_loss: 142.6528 - 60ms/epoch - 3ms/step
Epoch 75/100
23/23 - 0s - loss: 68.9690 - val_loss: 142.7552 - 50ms/epoch - 2ms/step
Epoch 76/100
23/23 - 0s - loss: 67.2075 - val_loss: 147.7877 - 50ms/epoch - 2ms/step
Epoch 77/100
23/23 - 0s - loss: 64.0320 - val_loss: 140.7806 - 42ms/epoch - 2ms/step
Epoch 78/100
23/23 - 0s - loss: 61.7642 - val_loss: 141.5428 - 44ms/epoch - 2ms/step
Epoch 79/100
23/23 - 0s - loss: 59.2266 - val_loss: 138.6826 - 50ms/epoch - 2ms/step
Epoch 80/100
23/23 - 0s - loss: 57.4577 - val_loss: 143.2925 - 48ms/epoch - 2ms/step
Epoch 81/100
23/23 - 0s - loss: 55.1192 - val_loss: 138.4686 - 35ms/epoch - 2ms/step
Epoch 82/100
23/23 - 0s - loss: 53.4874 - val_loss: 141.8178 - 36ms/epoch - 2ms/step
Epoch 83/100
23/23 - 0s - loss: 51.7057 - val_loss: 139.5449 - 53ms/epoch - 2ms/step
Epoch 84/100
23/23 - 0s - loss: 50.5283 - val_loss: 152.0549 - 48ms/epoch - 2ms/step
Epoch 85/100
23/23 - 0s - loss: 49.1015 - val_loss: 149.7523 - 49ms/epoch - 2ms/step
Epoch 86/100
23/23 - 0s - loss: 48.0120 - val_loss: 145.7896 - 51ms/epoch - 2ms/step
Epoch 87/100
23/23 - 0s - loss: 47.0491 - val_loss: 143.1587 - 49ms/epoch - 2ms/step
Epoch 88/100
23/23 - 0s - loss: 46.4302 - val_loss: 142.9387 - 58ms/epoch - 3ms/step
Epoch 89/100
23/23 - 0s - loss: 44.9598 - val_loss: 160.9909 - 55ms/epoch - 2ms/step
Epoch 90/100
23/23 - 0s - loss: 44.1467 - val_loss: 165.4250 - 67ms/epoch - 3ms/step
Epoch 91/100
23/23 - 0s - loss: 43.3869 - val_loss: 161.1096 - 61ms/epoch - 3ms/step
Epoch 92/100
23/23 - 0s - loss: 42.9932 - val_loss: 160.6686 - 41ms/epoch - 2ms/step
Epoch 93/100
23/23 - 0s - loss: 42.0218 - val_loss: 160.4790 - 49ms/epoch - 2ms/step
Epoch 94/100
23/23 - 0s - loss: 41.2768 - val_loss: 160.3392 - 51ms/epoch - 2ms/step
Epoch 95/100
23/23 - 0s - loss: 41.7552 - val_loss: 170.6951 - 48ms/epoch - 2ms/step
Epoch 96/100
23/23 - 0s - loss: 40.1902 - val_loss: 172.3045 - 47ms/epoch - 2ms/step
Epoch 97/100
23/23 - 0s - loss: 39.4113 - val_loss: 165.8511 - 36ms/epoch - 2ms/step
Epoch 98/100
23/23 - 0s - loss: 38.7746 - val_loss: 164.3697 - 56ms/epoch - 2ms/step
Epoch 99/100
23/23 - 0s - loss: 38.6889 - val_loss: 164.5165 - 48ms/epoch - 2ms/step
Epoch 100/100
23/23 - 0s - loss: 38.4719 - val_loss: 170.2109 - 46ms/epoch - 2ms/step